@import url('https://fonts.googleapis.com/css?family=Faster+One');
@import url('https://fonts.googleapis.com/css?family=Acme');
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  text-align: center;
 background-color: white;
 }
h1{
  color: white;
  text-align: center;
}

li {
    display: inline;
    border-radius: solid green;
    letter-spacing: 6px;
    text-align: center;
    border: 6px solid yellowgreen;
}
.container-fluid{
  padding: 150px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color:black;
}
.container-fluid p{
  margin-left: auto;
  margin-right: auto;
  color: white;
  opacity: 0.5;
  text-align: center;

}
img{
  max-width: 100%;
    height: auto;
    display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
      border-radius: 50%;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: black;
        color: white;
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color: yellowgreen;
  }
}























