body{
<<<<<<< HEAD
  background-color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
=======
  text-align: center;
 background-color: black;
 }
h1{
  color: blue;
>>>>>>> 02af0e744bfd408b2dc19f05f813b429ef93ccc6
}

li {
    display: inline;
    float: right;
    border-radius: 1px solid green;
    padding: 60px;
}
.container{
  padding: 200px;
  margin-right: 210px;
}
.html{
  font-family: serif;
  text-align: center;
  padding-top: 200px;
  padding-right: 160px;
}
.footer{
  background-color: white;
  padding: 90px;
  text-align: center;
}






















#btn{
  border-radius: 6px;
  font-family: sans-serif;
  color: green;
  font-size: 105%;
  padding: 15px 10px;
  border: solid white 2px;
  text-decoration: none;
}
#name{
  color: green;
}