body{
  background-color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  text-align: center;
 background-color: white;
 }
h1{
  color: white;
}

li {
    display: inline;
    border-radius: solid green;
    padding: 60px;
    text-align: center;
}
.container-fluid{
  padding: 200px;
  padding-left: 750px;
  background-color:red;
}
.container-fluid p{
  padding-left: 5px;
  color: white;
  opacity: 0.5;

}
img{
   border-radius: 90px;
   padding-bottom:1000px;
}

.footer{
  background-color: white;
  padding: 90px;
  text-align: center;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    background-color: tan;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}





















